.App {
  min-height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header, .formClass-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  text-align: center;
  color: white;
}

.content {
  display: flex;
  flex: 1;
  background: #999;
  color: #000; 
}

.columns{
  display: flex;
  flex:1;
}

.assignedColumn{
  flex: 1;
  background: #ccc;
  text-align: center;
  order: 1;
}

.activeColumn{
  flex: 1;
  background: #eee;
  text-align: center;
  order: 2;
}

.reviewColumn{ 
  flex: 1;
  background: #ddd;
  text-align: center;
  order: 3;
}

.listItem {
  border: solid black 2px;
  border-radius: 25px;
  margin: auto;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  width: 50%;
  padding: 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ItemList-header {
  background-color: tomato;
}

.formClass-header {
  background-color: cornflowerblue;
  height: auto;
  padding: 0.5em;
  align-content: center;
}

/* .labelClass {
  border: solid black 2px;
  padding: 5px;
} */

hr {
  border: 0;
  height: 1px;
  background: #333;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}